@layer base {
  details > summary {
    cursor: pointer;
  }

  details[role='menu'] > summary {
    list-style-type: none;
  }

  details[role='menu'] > summary::-webkit-details-marker {
    display: none;
  }

  details[role='menu'] .display-when-details-opened {
    display: none;
  }

  details[role='menu'] .display-when-details-closed {
    display: block;
  }

  details[role='menu'][open] .display-when-details-opened {
    display: block;
  }

  details[role='menu'][open] .display-when-details-closed {
    display: none;
  }
}
