# https://mise.jdx.dev/configuration.html

[tools]
elixir = "1.19.4-otp-28"
erlang = "28.3"
"npm:cspell" = "9.4.0"

[tasks.check]
run = "mix precommit"

[tasks.format]
run = "mix format --check-formatted"

[tasks.compile]
run = "mix compile --force --warnings-as-errors"

[tasks.lint]
run = "mix credo --all-priorities"

[tasks.spell]
run = "cspell lint --no-progress ."

[tasks.test]
run = "mix test --color"

[tasks.server]
run = "mix phx.server"

[tasks.vacuum]
run = "sqlite3 db/sarduty_dev.db \"VACUUM;\""
