<.app_nav_bar current_user={@current_user} />
<main role="main" class="lg:container mx-auto pt-16 px-2 md:px-4">
  <div class="mx-auto max-w-2xl">
    <.flash_group flash={@flash} />
    <%= @inner_content %>
  </div>
</main>
