.btn { @apply
  inline-flex items-center
  text-sm font-medium
  focus:outline-none focus:ring-2 focus:ring-offset-2
}

/* colors */
.btn { @apply bg-base-2 text-base-content hover:bg-base-3 focus:bg-base-3 focus:ring-base-3 }
.btn-primary { @apply text-primary-content bg-primary-1 hover:bg-primary-2 focus:bg-primary-2 focus:ring-primary-2 }
.btn-secondary { @apply text-secondary-content bg-secondary-1 hover:bg-secondary-2 focus:bg-secondary-2 focus:ring-secondary-2 }
.btn-success { @apply text-success-content bg-success-1 hover:bg-success-2 focus:bg-success-2 focus:ring-success-2 }
.btn-warning { @apply text-warning-content bg-warning-1 hover:bg-warning-2 focus:bg-warning-2 focus:ring-warning-2 }
.btn-danger { @apply text-danger-content bg-danger-1 hover:bg-danger-2 focus:bg-danger-2 focus:ring-danger-2 }


/* size */
.btn { @apply px-4 py-2 rounded-md }
.btn-sm { @apply px-2.5 py-1.5 text-xs rounded }
.btn-lg { @apply px-6 py-3 text-base rounded-md}

/* push button animation and shadow */
.btn { @apply border-solid border-b-2 border-base-content border-opacity-50 }
.btn {
  &:active:hover,
  &:active:focus {
    transform: translateY(2px);
    @apply border-b-0;
  }
}

/* special case link button */
.btn-link {
  @apply bg-transparent text-primary-1 border-0 hover:underline hover:bg-transparent focus:bg-transparent focus:ring-primary-2;
  &:active:hover,&:active:focus {
    transform: none;
  }
}
