.table-heading { @apply font-semibold text-sm text-base-content py-1 } /* label */

table.table { @apply text-left w-full }
table.table thead th { @apply bg-base-3 md:border-b-2 border-base-content/50 }
table.table thead th,
table.table tbody th { @apply py-1 pr-2 align-text-top font-semibold text-sm text-base-content w-full md:w-auto }
table.table tbody td { @apply py-1 pr-2 align-text-top }

/* style header row cells that span multiple columns */
table.table thead tr.table-header-row th { @apply border-none text-sm font-normal }

/* alternating row colors requires left padding */
table.table-striped tbody { @apply [&>*:nth-child(even)]:bg-base-3/70 }
table.table-striped th,
table.table-striped td { @apply pl-2 }

/* vertically stack mobile table cells */
table.table tr { @apply flex flex-col md:table-row }

table.table-form tbody th { @apply py-0 }
table.table-form tbody td { @apply py-0 pb-p05 mb-p05 border-b }
