@layer components {
  .title-hero { @apply text-5xl md:text-7xl font-bold mb-p05 }
  .title { @apply text-5xl font-bold mb-p05 }
  .lead { @apply text-xl md:text-3xl font-light mb-p05 text-secondary-1 }
  .heading { @apply text-3xl font-medium mb-p05 }
  .subheading { @apply text-xl font-medium mb-p05 }
  .label { @apply font-semibold text-sm text-base-content }
  .paragraph { @apply mb-p }
  .link { @apply no-underline hover:underline }
  .hint { @apply text-secondary-1 text-sm font-normal }
  .list { @apply list-disc list-inside }
  .action-list { @apply list-arrow list-inside }

  p { @apply mb-p }

  /* definition lists are used for label/value pairs */
  dl { @apply mb-p }
  dt { @apply font-semibold text-sm text-base-content } /* label */
  dd { @apply mb-p05 pb-p05 border-b border-hr }
  dl > dd { @apply last:border-b-0 }
  /* used to group related definition list items */
  .dl-section { @apply mb-p05 pb-p05 border-b border-hr }
  .dl-section dd { @apply mb-0! pb-0! border-b-0! }

  /* required to gives some space if buttons wrap on narrow screen */
  .form-actions .btn { @apply mb-2; }
}
